.banner {
  background: url("https://i.ibb.co.com/nqB0zwxs/Chat-GPT-Image-Apr-19-2025-09-58-04-PM.png");
  height: 500px;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}